# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json

# pyre
.pyre/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3    # 개발용 SQLite
/staticfiles/ # collectstatic 결과물
media/        # 업로드 파일

# Environment variables
.env

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db



